/* Reset some default styles and provide a basic layout */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header styles */
header {
    background-color: #bc14d6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bc14d6;
}

/* Section styles */
section {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Plugin styles */
.plugin {
    margin-bottom: 30px;
    border: 2px solid #bc14d6;
    padding: 20px;
    border-radius: 10px;
}

.plugin h3 {
    color: #bc14d6;
    margin-bottom: 10px;
}

.plugin p {
    color: #333;
    margin-bottom: 15px;
}

.plugin a {
    color: #bc14d6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.plugin a:hover {
    color: #333;
}
