body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #bc14d6;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}

p {
    margin-bottom: 1.5em;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    background-color: #333333;
    color: #333333;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #333;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #17b5c1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header p {
    font-size: 1.2em;
    color: #17b5c1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bc14d6;
}

nav a.active {
    background-color: #555;
    color: #bc14d6;
}

section {
    padding: 40px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.plugin {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plugin h3 {
    color: #bc14d6;
    margin-bottom: 15px;
}

.plugin p {
    color: #555;
    margin-bottom: 20px;
}

.plugin a {
    display: inline-block;
    background-color: #bc14d6;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.plugin a:hover {
    background-color: #333;
}
.blog-date {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}
